body {
    background-color: #111;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: fit-content;
    display: flex;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

video {
    padding: 10px;
    display: block;
    margin: 0 auto;
}

button {
    min-width: 75px;
    min-height: 25px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.resize,
.speed,
.edit,
.change,
.trim {
    padding: 25px;
    margin: 15px;
    border-color: #3f474d;
    color: white;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
}

#resizeBtn,
#speedBtn,
#changeAudioBtn,
#trimBtn{
    padding-top: 10%;
}

#homeBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleLabel {
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
}

.editorLabel {
    color: white;
    font-family: 'Poppins', sans-serif;
    
    padding: 5px;
}

.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.welcomeBox {
    padding-bottom: 20px;
}

.welcomeText {
    font-family: Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    color: white;
    padding: 50px;
    margin: 50px;
}

.openButton {
    padding-left: 20px;
    padding-right: 20px;
    font-size: larger;
}

.buttonBox {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}